---
layout: page
---

<style>
  .organisations__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
  }

  .organisation__item {
    background: #eee;

  }
  .organisation__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .organisation__item img {
    display: block;
    /* Make sure max-width is added */
    max-width: 100%;
    width: 200px;
    height: 200px;
    object-fit: contain;
    /* mix-blend-mode: multiply; */
  }

</style>


<div class="page">
  <hr>
  <ul class="organisations__list">
    {% for organisation in page.organisations %}
    <li class="organisation__item">
      <!-- Logo -->
      {% if organisation.background_color != blank %}
          {% assign background_color = organisation.background_color %}
      {% else %} 
          {% assign background_color = '#eee' %}
      {% endif %}
      <a href="{{ organisation.url }}" style="background: {{ background_color }};">
        {% assign organisation_logo_path = organisation.logo | prepend: '/assets/img/' %}
        {%
          include figure.liquid
          loading="eager"
          path=organisation_logo_path
          sizes = "(maxwidth: 200px) 200px"
          class="preview z-depth-1"
          zoomable=false
          alt=organisation.name
        %}</a>
    </li>
    {% endfor %}
  </ul>
</div>